.top-bar
  background: #F3F4F5
  padding: .5rem 2rem
  display: flex
  justify-content: flex-start
  align-items: center
  // width: 100vw

.top-bar-item
  margin: 0 1rem

.top-bar-item.right
  justify-content: flex-end
  border: 1px solid blue

.nav-bar
  // width: 100vw
  margin: 1rem 1rem

.category-search-icon
  background: #EDEDED
  cursor: pointer
  &:hover
    background: #CACACA

.search-recommendations
  display: flex
  justify-content: center

.search-recommendations span
  padding: 10px

.nav-bar-misc
  text-align: center

.nav-bar-misc i
  font-size: 1.2rem
  padding: 8px 5px

.nav-bar-profile

.nav-bar-profile-content
  margin-right: 10px

.btn-store
  background: #E4E4E4

.btn-profile
  background: #80AEC6

*
  border: 1px solid red