.top-bar
  background: #F3F4F5
  padding: .5rem 2rem
  display: flex
  justify-content: flex-start
  align-items: center
  // width: 100vw

.top-bar-item
  margin: 0 1rem

.top-bar-item.right
  justify-content: flex-end
  // border: 1px solid blue

.nav-bar
  // width: 100vw
  margin: 1rem 1rem

.nav-bar-title h3
  font-weight: bold
  font-size: 2rem
  color: #339049

.category-search-icon
  background: #EDEDED
  cursor: pointer
  &:hover
    background: #CACACA

.search-recommendations
  display: flex
  justify-content: center

.search-recommendations span
  padding: 10px

.nav-bar-misc
  text-align: center

.nav-bar-misc i
  font-size: 1.2rem
  padding: 8px 5px

.nav-bar-profile
  display: flex

.nav-bar-profile span
  margin: .3rem 0 0 0
  padding: 0 0 0 10px

.btn-store
  background: #E4E4E4

.btn-profile
  background: #80AEC6

.body
  padding: 2rem

.top-profile-card
  display: flex

.top-profile-card span
  padding: 0 0 0 10px

.profile-card-seperator
  margin: 1rem 0
  border-top: .1px solid grey

.bottom-profile-card

.btn-collapse
  color: #000
  font-weight: bold

.inbox-content, .purchased-content, .profile-content

.inbox-content a, .purchased-content a, .profile-content a
  padding: 5px 0 0 2vw
  color: #3CBE55

.inbox-content i, .purchased-content i, .profile-content i
  
.user-name
  font-weight: bold
*
  // border: 1px solid red
